<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
</head>
<body>
  <h1>Lista de estudiantes</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Nota</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      {{#each students}}
        {{#if (gt this.nota 15)}}
          <tr>
            <td><strong>{{this.nombre}}</strong></td>
            <td><strong>{{this.nota}}</strong></td>
            <td><strong>✓ Excelente</strong></td>
          </tr>
        {{else}}
          <tr>
            <td>{{this.nombre}}</td>
            <td>{{this.nota}}</td>
            <td>Aprobado</td>
          </tr>
        {{/if}}
      {{/each}}
    </tbody>
  </table>
</body>
</html>